In [2]:
import pandas as pd

In [ ]:
data = pd.read_csv("gdp_per_capita/gdp_per_capita_2020July.csv")

In [4]:
data.head() #There are 5 rows and 65 columns

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [5]:
#set index as country name
data.set_index("Country Name", inplace=True)

In [6]:
data.columns

Index(['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')

In [7]:
data.shape

(264, 64)

In [8]:
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [9]:
#delete unwanted column
data.drop(["Country Code","Indicator Name","Indicator Code"], axis="columns", inplace=True)

In [10]:
italy=data.loc["Italy"]#to locate italy information

In [11]:
type(italy)

pandas.core.series.Series

In [12]:
#italy's gdp per capita
italy

1960             804.492623
1961             887.336745
1962             990.260152
1963            1126.019337
1964            1222.544540
                   ...
2016           30939.714246
2017           32406.720315
2018           34520.085162
2019           33189.565799
Unnamed: 64             NaN
Name: Italy, Length: 61, dtype: float64

Year that italy has the highest increase of gdp

In [13]:
italy_pct_change=italy.pct_change()

In [14]:
italy_pct_change=italy_pct_change*100

In [15]:
pd.options.display.max_rows=None

In [16]:
italy_pct_change.idxmax()#shows index of the year with maximum percentage

'1986'

In [17]:
italy_pct_change.max()

41.60254037779829

In [18]:
italy_pct_change.nlargest(5)#5 highest gdp years with increase

1986    41.602540
1990    27.089849
1987    25.803885
1979    24.592962
2003    23.329580
Name: Italy, dtype: float64

In [19]:
italy_pct_change < 0

1960           False
1961           False
1962           False
1963           False
1964           False
1965           False
1966           False
1967           False
1968           False
1969           False
1970           False
1971           False
1972           False
1973           False
1974           False
1975           False
1976            True
1977           False
1978           False
1979           False
1980           False
1981            True
1982            True
1983           False
1984            True
1985           False
1986           False
1987           False
1988           False
1989           False
1990           False
1991           False
1992           False
1993            True
1994           False
1995           False
1996           False
1997            True
1998           False
1999            True
2000            True
2001           False
2002           False
2003           False
2004           False
2005           False
2006           False
2007           False
2008           False
2009            True
2010            True
2011           False
2012            True
2013           False
2014            True
2015            True
2016           False
2017           False
2018           False
2019            True
Unnamed: 64    False
Name: Italy, dtype: bool

In [20]:
italy_negative=italy_pct_change[italy_pct_change < 0]

In [21]:
italy_negative

1976    -1.799235
1981    -9.862760
1982    -0.869885
1984    -1.185563
1993   -19.380539
1997    -5.425354
1999    -1.436110
2000    -8.682903
2009    -9.069972
2010    -2.910587
2012    -9.185549
2014    -0.088775
2015   -14.888584
2019    -3.854334
Name: Italy, dtype: float64

In [22]:
#show years
italy_negative.index

Index(['1976', '1981', '1982', '1984', '1993', '1997', '1999', '2000', '2009',
       '2010', '2012', '2014', '2015', '2019'],
      dtype='object')

In [23]:
#data for the whole world
world=data.loc["World"]

In [24]:
data[data.index.str.contains("world",case=False)]
#to check if there is an index with world

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.878679,240.036240,...,6867.692047,7465.151651,7519.808260,7457.461109,6387.660615,6097.239025,6102.211067,6603.351190,6580.056257,NaN
World,452.108859,464.049009,489.547101,516.615106,554.553301,591.718115,628.738759,655.873528,693.901057,749.725142,...,10488.334016,10605.208322,10781.855305,10952.344419,10246.507362,10281.908800,10817.481947,11381.680597,11435.609873,NaN

In [25]:
world.head(5)

1960    452.108859
1961    464.049009
1962    489.547101
1963    516.615106
1964    554.553301
Name: World, dtype: float64

In [26]:
world.pct_change().idxmax()

'1973'

In [27]:
data_st_deviation=data.std()

In [28]:
data_st_deviation

1960             616.785920
1961             640.565654
1962             671.604311
1963             711.308655
1964             777.885298
1965             871.592933
1966             941.155061
1967             972.379823
1968            1003.955689
1969            1081.005839
1970            1502.515921
1971            1667.576421
1972            1972.996423
1973            2484.508375
1974            3078.850036
1975            3901.760053
1976            4239.908374
1977            4629.686988
1978            5106.088257
1979            6110.719389
1980            7027.306246
1981            6588.758320
1982            6020.992290
1983            5587.148107
1984            5427.941516
1985            5415.922307
1986            6553.874383
1987            7829.097029
1988            8476.585531
1989            8597.477810
1990            9913.182936
1991           10090.729157
1992           10836.770255
1993           10297.909518
1994           10990.545497
1995           12492.832646
1996           12660.875855
1997           11897.722518
1998           12311.413958
1999           12817.233596
2000           12312.902898
2001           12297.298688
2002           13157.912758
2003           15225.571063
2004           17193.978510
2005           18117.241341
2006           19972.556260
2007           22922.308837
2008           24399.207273
2009           21341.053469
2010           21914.651799
2011           24139.100126
2012           23348.430334
2013           24931.331730
2014           25326.276983
2015           22689.486513
2016           22890.224017
2017           23746.968589
2018           22823.287773
2019           19337.616848
Unnamed: 64             NaN
dtype: float64

In [30]:
#Â get the data for the year 2019
data2019=data["2019"]

In [31]:
data2019.idxmax()

'Luxembourg'

In [32]:
data2019.idxmin()

'Burundi'

In [33]:
data2019.nlargest(1)

Country Name
Luxembourg    114704.594171
Name: 2019, dtype: float64

In [34]:
ranked_gdp=data.rank(ascending=False)
ranked_gdp
luxem_rank=ranked_gdp.loc["Luxembourg"]
luxem_rank

1960            5.0
1961            6.0
1962            5.0
1963            5.0
1964            5.0
1965            5.0
1966            7.0
1967            9.0
1968            6.0
1969            6.0
1970            5.0
1971            8.0
1972            6.0
1973            2.0
1974            4.0
1975            8.0
1976            8.0
1977            8.0
1978            6.0
1979            7.0
1980            8.0
1981           12.0
1982           15.0
1983           13.0
1984           14.0
1985           13.0
1986            8.0
1987            5.0
1988            4.0
1989            4.0
1990            4.0
1991            4.0
1992            3.0
1993            3.0
1994            3.0
1995            3.0
1996            3.0
1997            4.0
1998            4.0
1999            4.0
2000            4.0
2001            4.0
2002            4.0
2003            4.0
2004            3.0
2005            3.0
2006            3.0
2007            3.0
2008            3.0
2009            3.0
2010            3.0
2011            3.0
2012            3.0
2013            3.0
2014            3.0
2015            3.0
2016            3.0
2017            3.0
2018            2.0
2019            1.0
Unnamed: 64     NaN
Name: Luxembourg, dtype: float64